@Charset "UTF-8";


body {
 }

@font-face {
  font-family: 'Monserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }


.wrapper {
  max-width: 1920px;
 }
